In [35]:
import pandas as pd
import statistics as st
telco = pd.read_csv(r'C:\Users\evanb_000\OneDrive\Documents\DSA\pretest\churn.csv')
telco.head(5)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [36]:
telco.isnull().sum()

state                            0
account_length                   0
area_code                        0
phone_number                     0
international_plan               0
voice_mail_plan                  0
number_vmail_messages            0
total_day_minutes                0
total_day_calls                  0
total_day_charge                 0
total_eve_minutes                0
total_eve_calls                  0
total_eve_charge                 0
total_night_minutes              0
total_night_calls                0
total_night_charge               0
total_intl_minutes               0
total_intl_calls                 0
total_intl_charge                0
number_customer_service_calls    0
class                            0
dtype: int64

In [46]:
#1. Which top 5 state that has the highest number of churned customers?

churn = telco[telco['class'] == 1]
churn.head(5)
churn["state"].value_counts().head(5)

31    28
43    26
47    24
49    22
20    21
Name: state, dtype: int64

In [19]:
churn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

In [58]:
#2. How many times mostly churned customers call customers service?

st.mode(churn.number_customer_service_calls)

1

In [57]:
#3 Which parameter that highly corelated to customers' churn status?
#abaikan phone_number dan area_code

absolute_corr = telco.corr()['state']
absolute_corr = absolute_corr.sort_values(ascending = False)
absolute_corr.head(10)

state                  1.000000
phone_number           0.017054
area_code              0.013858
account_length         0.010334
total_intl_calls       0.009898
total_night_minutes    0.009538
total_night_charge     0.009532
international_plan     0.007422
total_day_charge       0.007334
total_day_minutes      0.007334
Name: state, dtype: float64

In [63]:
print(churn['total_intl_charge'].mean())

2.8874257425742584

In [65]:
print(telco['total_intl_charge'].mean())

2.7711959999999833

In [68]:
#4. What is the difference of mean of total international charge between churned customers and not churned customers?
not_churn = telco[telco['class'] == 0]
print(not_churn['total_intl_charge'].mean() - churn['total_intl_charge'].mean())

-0.13537123523674355

In [71]:
#5. What is the differece between churned and not churned customers based on charge?
churn[['total_day_charge','total_eve_charge','total_night_charge','total_intl_charge']].mean().round(2)

total_day_charge      35.34
total_eve_charge      18.00
total_night_charge     9.27
total_intl_charge      2.89
dtype: float64

In [73]:
not_churn[['total_day_charge','total_eve_charge','total_night_charge','total_intl_charge']].mean().round(2)

total_day_charge      29.88
total_eve_charge      16.90
total_night_charge     8.98
total_intl_charge      2.75
dtype: float64

In [ ]:
#churned customers has higher total charge than not churned customers